# Environment variables & secrets
.env
client_secret.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/

# Media build outputs
output/
*.mp4
*.mp3
*.wav

# IDE
.vscode/
.idea/
*.swp
